<!doctype html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="something"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Some title</title>
</head>

<body>

  <div class="container">
      <div class="row">
          <div class="block col-md-6">
             <p class="latoBold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam reprehenderit dolore saepe rerum consectetur ab voluptatum? Culpa vitae perferendis sint quam itaque sit distinctio, quaerat expedita esse autem inventore, iste.</p> 
          </div>
          <div class="block col-md-6">
             <p class="latoBoldItalic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, assumenda! Cupiditate aliquam similique repellat sit dolorem delectus accusamus beatae voluptatum, laborum, odit fugiat possimus, suscipit modi dolores. Nesciunt, est, dignissimos.</p> 
          </div>
      </div>
      <div class="row">
          <div class="block col-md-6">
             <p class="latoLight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque iure reiciendis assumenda perferendis? Numquam tenetur facilis ipsa ex totam omnis ullam rerum dolor, maiores praesentium, laboriosam nesciunt, deserunt voluptas asperiores?</p> 
          </div>
          <div class="block col-md-6">
             <p class="latoItalic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, reiciendis, exercitationem illum ea esse eius aperiam voluptatem repudiandae, natus hic veritatis necessitatibus error vero tempora eos veniam, rem nemo nulla?</p> 
          </div>
      </div>
      <div class="row">
          <div class="block col-md-6">
             <p class="latoLightItalic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia iure eius perspiciatis, voluptate qui excepturi placeat recusandae quaerat quod dolore esse possimus ab tempora quisquam facere doloribus. Tempore, reiciendis.</p> 
          </div>
          <div class="block col-md-6">
             <p class="latoRegular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic placeat optio suscipit labore rerum, asperiores rem provident aperiam molestias, architecto ad nulla praesentium adipisci laboriosam eaque eligendi eum cum beatae!</p> 
          </div>
      </div>
      <div class="row">
          <div class="block col-md-6">
              <p class="minionProRegular">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur autem ipsam labore nihil sunt laboriosam perspiciatis dignissimos nemo magni eos rerum eum corporis molestias illo consectetur, eius, nostrum laborum!</p>
          </div>
          <div class="block col-md-6">
              <p class="lato-Heavy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed provident beatae veniam. Molestiae laudantium voluptatem a corporis vitae obcaecati at, quam incidunt. Soluta, dolorem neque blanditiis cum ipsa laborum obcaecati!</p>
          </div>
      </div>
  </div>

